[Unit]
Description=Alfresco Solr6 Component
After=network-online.target nfs.target

[Service]
ExecStartPre=/bin/mkdir -p -m 2755 /opt/alfresco/alf_data/alfresco-search-services/content
ExecStartPre=/bin/mkdir -p -m 2755 /opt/alfresco/alf_data/alfresco-search-services/models
ExecStartPre=/bin/mkdir -p -m 2755 /opt/alfresco/alf_data/alfresco-search-services/index
ExecStartPre=/bin/mkdir -p -m 2755 /opt/alfresco/alf_data/alfresco-search-services/solrhome
ExecStartPre=/bin/mkdir -p -m 2755 /opt/alfresco/logs/alfresco-search-services
ExecStartPre=/bin/cp -r /opt/alfresco/alfresco-search-services/solrhome /opt/alfresco/alf_data/alfresco-search-services/
ExecStart=/opt/alfresco/alfresco-search-services/solr/bin/solr start
ExecStop=/opt/alfresco/alfresco-search-services/solr/bin/solr stop
Type=forking
Restart=always
User=alfresco
Group=nogroup
RuntimeDirectory=alfresco-solr
RuntimeDirectoryMode=750
LimitNOFILE=8192:65536
[Install]
WantedBy=multi-user.target
